In [1]:
import os
os.environ['KAGGLE_USERNAME']="simransohal"
os.environ['KAGGLE_KEY']="3aa7697cd9a4ba2a3715c4a29c0f0cb6"

In [2]:
ls

sample_data/

In [3]:
!kaggle datasets download -d hhs/health-insurance-marketplace

Downloading health-insurance-marketplace.zip to /content
 97% 804M/829M [00:03<00:00, 270MB/s]
100% 829M/829M [00:03<00:00, 238MB/s]

In [4]:
import zipfile
with zipfile.ZipFile('health-insurance-marketplace.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [6]:
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv('BenefitsCostSharing.csv',nrows=5000)

In [8]:
cols=data.columns.tolist()

In [9]:
print(data.isnull().sum())

BenefitName               0
BusinessYear              0
CoinsInnTier1          1379
CoinsInnTier2          5000
CoinsOutofNet          1379
CopayInnTier1          1379
CopayInnTier2          5000
CopayOutofNet          1379
EHBVarReason           3601
Exclusions             4997
Explanation            4871
ImportDate                0
IsCovered              1327
IsEHB                  2549
IsExclFromInnMOOP      1379
IsExclFromOonMOOP      1379
IsStateMandate         4519
IsSubjToDedTier1       1379
IsSubjToDedTier2       1379
IssuerId                  0
IssuerId2                 0
LimitQty               4378
LimitUnit              4378
MinimumStay            5000
PlanId                    0
QuantLimitOnSvc        4378
RowNumber                 0
SourceName                0
StandardComponentId       0
StateCode                 0
StateCode2                0
VersionNum                0
dtype: int64

In [10]:
for c in data.columns:
    null_percentage=data[c].isnull().mean()*100
    print("{c} percentage:{null_percentage}".format(c=c,null_percentage=null_percentage))

BenefitName percentage:0.0
BusinessYear percentage:0.0
CoinsInnTier1 percentage:27.58
CoinsInnTier2 percentage:100.0
CoinsOutofNet percentage:27.58
CopayInnTier1 percentage:27.58
CopayInnTier2 percentage:100.0
CopayOutofNet percentage:27.58
EHBVarReason percentage:72.02
Exclusions percentage:99.94
Explanation percentage:97.42
ImportDate percentage:0.0
IsCovered percentage:26.540000000000003
IsEHB percentage:50.980000000000004
IsExclFromInnMOOP percentage:27.58
IsExclFromOonMOOP percentage:27.58
IsStateMandate percentage:90.38000000000001
IsSubjToDedTier1 percentage:27.58
IsSubjToDedTier2 percentage:27.58
IssuerId percentage:0.0
IssuerId2 percentage:0.0
LimitQty percentage:87.56
LimitUnit percentage:87.56
MinimumStay percentage:100.0
PlanId percentage:0.0
QuantLimitOnSvc percentage:87.56
RowNumber percentage:0.0
SourceName percentage:0.0
StandardComponentId percentage:0.0
StateCode percentage:0.0
StateCode2 percentage:0.0
VersionNum percentage:0.0

In [11]:
data=data.drop(['CoinsInnTier1','CoinsInnTier2','CoinsOutofNet','Exclusions','QuantLimitOnSvc','Explanation','EHBVarReason','IsExclFromInnMOOP','IsExclFromOonMOOP','LimitQty','LimitUnit','CopayInnTier1','CopayInnTier2','CopayOutofNet','ImportDate','IsSubjToDedTier1','IsSubjToDedTier2','IssuerId','IssuerId2','MinimumStay','RowNumber','StandardComponentId','StateCode2','VersionNum'],axis=1)

In [12]:
data

,BenefitName,BusinessYear,IsCovered,IsEHB,IsStateMandate,PlanId,SourceName,StateCode
0,Routine Dental Services (Adult),2014,Covered,NaN,NaN,21989AK0010001-00,HIOS,AK
1,Dental Check-Up for Children,2014,Covered,Yes,NaN,21989AK0010001-00,HIOS,AK
2,Basic Dental Care - Child,2014,Covered,Yes,NaN,21989AK0010001-00,HIOS,AK
3,Orthodontia - Child,2014,Covered,NaN,NaN,21989AK0010001-00,HIOS,AK
4,Major Dental Care - Child,2014,Covered,Yes,NaN,21989AK0010001-00,HIOS,AK
...,...,...,...,...,...,...,...,...
4995,Radiation,2014,Covered,NaN,NaN,73836AK0680019-01,HIOS,AK
4996,Diabetes Education,2014,Covered,NaN,NaN,73836AK0680019-01,HIOS,AK
4997,Prosthetic Devices,2014,Covered,NaN,NaN,73836AK0680019-01,HIOS,AK
4998,Infusion Therapy,2014,Covered,NaN,NaN,73836AK0680019-01,HIOS,AK
4999,Treatment for Temporomandibular Joint Disorders,2014,NaN,NaN,NaN,73836AK0680019-01,HIOS,AK

In [13]:
data['IsEHB']=data['IsEHB'].fillna('No')

In [14]:
data['IsEHB']=data['IsEHB'].map({'Yes':1,'No':0})

In [15]:
data['IsCovered']=data['IsCovered'].fillna('0')

In [16]:
data['IsCovered']=data['IsCovered'].map({'Covered':1,'Not Covered':0,'0':0})

In [17]:
data['IsStateMandate'].unique()

array([nan, 'Yes'], dtype=object)

In [18]:
data['IsStateMandate']=data['IsStateMandate'].fillna('0') 
data['IsStateMandate']=data['IsStateMandate'].map({'0':0,'Yes':1})

In [19]:
data=data.dropna()

In [20]:
for c in data.columns:
    null_percentage=data[c].isnull().mean()*100
    print("{c} percentage:{null_percentage}".format(c=c,null_percentage=null_percentage))

BenefitName percentage:0.0
BusinessYear percentage:0.0
IsCovered percentage:0.0
IsEHB percentage:0.0
IsStateMandate percentage:0.0
PlanId percentage:0.0
SourceName percentage:0.0
StateCode percentage:0.0

In [21]:
data['Department']=''
departments={
    'dental':['dental','orthodontia','root canal','occusal','maintainers','pulpotomy','extractions','denture','fillings','periodontal','tissue conditioning','posterior composites','periodonatal'],
    'health':['drugs','telehealth','hearing','physician','gastric','obesity','metabolic','cardiac','cardiovascular','brain','sclerosis','autism','disorder','anomaly','disorders','Nutritional','nutrition','foods','fit','joint','bone','osteoporosis','substance','rehabilitation','habilitation','rehabilitative','weight loss','baby','infertility','delivery','abortion','postnatal','prenatal','mastectomy','contraceptive','sexual','services','dialysis','chemotherapy','acupunture','diabetes','therapy','care','benefit','membership','anesthetics','visit','nursing','eye','eye glasses','optical','mental','surgery','surgical','transplant','implants','emergency','urgent','chronic'],
    'equipments':['equipment','devices','aids','sealant','supplies'],
    'diagnostics':['diagnostic','test','imaging','screening','testing','observation','trials','laboratory','mammography','diagnosis','mammogram'],
    'child care':['child','pediatric','newborn','children'],
    

    
  }

In [22]:
for idx,row in data.iterrows():
    for department,keywords in departments.items():
        for keyword in keywords:
            if keyword in row['BenefitName'].lower():
                data.at[idx,'Department']=department
                break
        if data.at[idx,'Department']!=' ':
            break

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()
data['SourceName'] = le.fit_transform(data['SourceName'])
data['StateCode'] = le.fit_transform(data['StateCode'])
data['Department'] = le.fit_transform(data['Department'])

In [25]:
data

,BenefitName,BusinessYear,IsCovered,IsEHB,IsStateMandate,PlanId,SourceName,StateCode,Department
0,Routine Dental Services (Adult),2014,1,0,0,21989AK0010001-00,0,0,1
1,Dental Check-Up for Children,2014,1,1,0,21989AK0010001-00,0,0,1
2,Basic Dental Care - Child,2014,1,1,0,21989AK0010001-00,0,0,1
3,Orthodontia - Child,2014,1,0,0,21989AK0010001-00,0,0,1
4,Major Dental Care - Child,2014,1,1,0,21989AK0010001-00,0,0,1
...,...,...,...,...,...,...,...,...,...
4995,Radiation,2014,1,0,0,73836AK0680019-01,0,0,0
4996,Diabetes Education,2014,1,0,0,73836AK0680019-01,0,0,0
4997,Prosthetic Devices,2014,1,0,0,73836AK0680019-01,0,0,0
4998,Infusion Therapy,2014,1,0,0,73836AK0680019-01,0,0,0
4999,Treatment for Temporomandibular Joint Disorders,2014,0,0,0,73836AK0680019-01,0,0,0