In [34]:
import numpy as np
import pandas as pd
from  matplotlib import pyplot
import seaborn as sns

In [25]:
# rate_chunks = pd.read_csv("/home/amanpreet/Downloads/database/archive (1)/Rate.csv",iterator=True,chunksize = 1000)
# rates = pd.concat(chunk for chunk in rate_chunks)

In [26]:
# rates.head(10)

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
5,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,16
6,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,17
7,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
9,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,18

In [27]:
# print(rates.describe())

       BusinessYear      IssuerId    VersionNum     IssuerId2  IndividualRate  \
count  1.269444e+07  1.269444e+07  1.269444e+07  1.269444e+07    1.269444e+07
mean   2.015034e+03  5.248592e+04  6.865558e+00  5.248592e+04    4.098026e+03
std    7.940521e-01  2.641263e+04  3.857180e+00  2.641263e+04    6.122271e+04
min    2.014000e+03  1.004600e+04  1.000000e+00  1.004600e+04    0.000000e+00
25%    2.014000e+03  3.021900e+04  4.000000e+00  3.021900e+04    2.933000e+01
50%    2.015000e+03  4.953200e+04  6.000000e+00  4.953200e+04    2.916000e+02
75%    2.016000e+03  7.652600e+04  9.000000e+00  7.652600e+04    4.789800e+02
max    2.016000e+03  9.996900e+04  2.400000e+01  9.996900e+04    9.999990e+05

       IndividualTobaccoRate        Couple  PrimarySubscriberAndOneDependent  \
count           4.932349e+06  40941.000000                      40941.000000
mean            5.436911e+02     48.115714                         49.835901
std             2.945916e+02     30.422891                         29.691985
min             4.173000e+01      0.000000                          0.000000
25%             3.391200e+02     26.710000                         27.390000
50%             4.632900e+02     49.770000                         51.240000
75%             6.843900e+02     69.900000                         72.230000
max             6.604610e+03    182.400000                        169.650000

       PrimarySubscriberAndTwoDependents  \
count                       40941.000000
mean                           70.660012
std                            44.620130
min                             0.000000
25%                            27.910000
50%                            74.680000
75%                           107.670000
max                           251.740000

       PrimarySubscriberAndThreeOrMoreDependents  CoupleAndOneDependent  \
count                               40941.000000           40941.000000
mean                                   89.405494              72.782793
std                                    57.699279              48.232537
min                                     0.000000               0.000000
25%                                    29.410000              28.260000
50%                                    98.800000              77.250000
75%                                   137.080000             110.430000
max                                   357.940000             260.850000

       CoupleAndTwoDependents  CoupleAndThreeOrMoreDependents     RowNumber
count            40941.000000                    40941.000000  1.269444e+07
mean                89.012859                      107.807774  6.348572e+03
std                 59.139094                       73.241174  9.011435e+03
min                  0.000000                        0.000000  1.400000e+01
25%                 28.260000                       29.490000  8.730000e+02
50%                 97.910000                      116.710000  2.728000e+03
75%                136.330000                      167.960000  7.577000e+03
max                339.310000                      449.140000  6.349300e+04

    BusinessYear:  This column indicates the year of the plan, which could be relevant to the user's preference for a more recent plan.
    
    StateCode:   This column indicates the state where the plan is available, which could be relevant to the user's location and eligibility for certain plans.
    
    MetalLevel:   This column indicates the metal level of the plan (e.g., bronze, silver, gold, platinum), which could be relevant to the user's budget and coverage needs.
    
    IssuerName:   This column indicates the name of the insurance company that offers the plan, which could be relevant to the user's preference for a certain insurer.
    
    Age:  This column indicates the age of the individual covered by the plan, which could be relevant to the user's age.
    
    Tobacco:  This column indicates whether the plan covers tobacco use or not, which could be relevant to the user's tobacco use.
    
    ChildOnlyOffering:  This column indicates whether the plan is only for children or not, which could be relevant to the user's number of children.
    
    
    Couple, CoupleAndOneDependent, CoupleAndTwoDependents, CoupleAndThreeOrMoreDependents: These columns indicate the premium cost of the plan for different coverage scenarios, which could be relevant to the user's estimated budget and family size.

In [35]:
rate_fields = ['StateCode','PlanId','IndividualRate','PrimarySubscriberAndThreeOrMoreDependents','BusinessYear','Age','RatingAreaId','Tobacco','SourceName']
rate_chunks = pd.read_csv("/home/amanpreet/Downloads/database/archive (1)/Rate.csv",iterator=True,chunksize = 1000, usecols=rate_fields)
rates_2= pd.concat(chunk for chunk in rate_chunks)

In [36]:
rates_2.head(5)

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,0-20,29.00,NaN
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,Family Option,36.95,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,Family Option,36.95,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN

In [4]:
rates_2.columns

Index(['BusinessYear', 'StateCode', 'SourceName', 'PlanId', 'RatingAreaId',
       'Tobacco', 'Age', 'IndividualRate',
       'PrimarySubscriberAndThreeOrMoreDependents'],
      dtype='object')

In [5]:
from pandas_profiling import ProfileReport

/tmp/ipykernel_11968/2406390103.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [58]:
# profile = ProfileReport(rates,title = "Profiling Report_Rates_CSV", explorative = True)

In [59]:
# profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/amanpreet/PycharmProjects/big_data_project/venv/lib/python3.10/site-packages/pandas_profiling/model/pandas/discretize_pandas.py:52: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  discretized_df.loc[:, column] = self._discretize_column(

KeyboardInterrupt:

In [ ]:
# profile.to_file("output.html")

In [ ]:
profile_chosen_values = ProfileReport(rates_2,title = "Profiling Report_Cleaned_Rates_CSV", explorative = True)

In [ ]:
profile_chosen_values.to_widgets()

In [ ]:
profile_chosen_values.to_file("output_cleaned.html")

In [40]:
df = rates_2
df['tobacco_rate'] = np.where(df['Tobacco']!= 'Tobacco User/Non-Tobacco User ',df['IndividualRate'],df['IndividualRate']*1.03)
df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,NaN,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,107.61,36.95
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,107.61,36.95
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN,32.00

In [41]:
df['Age'] = np.where(df['Age']== 'Family Option',-5,df['Age']) # Family Plan = -5
df['Age'] = np.where(df['Age']== '0-20',10,df['Age'])  # Minor = 10 below 20 years of age
df['Age'] = np.where(df['Age']== '65 and over',100,df['Age'])  # Old age = 100 more than 65 years of age

In [23]:
# df11 = df.loc[df['Age'] == -5 ]
# df11 = df.loc[df['Tobacco'] == 'No Preference']
# df11 = df11.loc[df11['PrimarySubscriberAndThreeOrMoreDependents'] > 0]
# df11.head()
# df['PrimarySubscriberAndThreeOrMoreDependents'] = np.where(df['PrimarySubscriberAndThreeOrMoreDependents']< 1,0,df['PrimarySubscriberAndThreeOrMoreDependents'])

In [42]:
df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,NaN,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,107.61,36.95
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,107.61,36.95
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN,32.00

In [43]:
df.shape

(12694445, 10)

In [44]:
df['PrimarySubscriberAndThreeOrMoreDependents']=df['PrimarySubscriberAndThreeOrMoreDependents'].fillna(0)

In [45]:
df['tobacco_rate'] = np.where(df['PrimarySubscriberAndThreeOrMoreDependents']>0, df['PrimarySubscriberAndThreeOrMoreDependents'],df['tobacco_rate'])
df['PrimarySubscriberAndThreeOrMoreDependents'] = np.where(df['PrimarySubscriberAndThreeOrMoreDependents']>0, 1,df['PrimarySubscriberAndThreeOrMoreDependents'])
df

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00
...,...,...,...,...,...,...,...,...,...,...
12694440,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,61,14.05,0.0,14.05
12694441,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,62,14.05,0.0,14.05
12694442,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,63,14.05,0.0,14.05
12694443,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,64,14.05,0.0,14.05
12694444,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,100,14.05,0.0,14.05

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate,Tobacco
14551,2014,AL,HIOS,44580AL0360002,Rating Area 3,10,111.74,0.0,0.00,NaN
14552,2014,AL,HIOS,44580AL0360002,Rating Area 3,21,175.99,0.0,0.00,NaN
14555,2014,AL,HIOS,44580AL0360002,Rating Area 3,22,175.99,0.0,0.00,NaN
14556,2014,AL,HIOS,44580AL0360002,Rating Area 3,23,175.99,0.0,0.00,NaN
14559,2014,AL,HIOS,44580AL0360002,Rating Area 3,24,175.99,0.0,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...
12694440,2016,WV,SERFF,96480WV0090003,Rating Area 11,61,14.05,0.0,14.05,No Preference
12694441,2016,WV,SERFF,96480WV0090003,Rating Area 11,62,14.05,0.0,14.05,No Preference
12694442,2016,WV,SERFF,96480WV0090003,Rating Area 11,63,14.05,0.0,14.05,No Preference
12694443,2016,WV,SERFF,96480WV0090003,Rating Area 11,64,14.05,0.0,14.05,No Preference
12694444,2016,WV,SERFF,96480WV0090003,Rating Area 11,100,14.05,0.0,14.05,No Preference

In [46]:
df.Age = df.Age.astype(int)

In [ ]:
profile_final = ProfileReport(df,title = "Profiling Report_Rates_CSV", explorative = True)

profile_final.to_file("output_cleaned_final.html")

In [ ]:
df.to_csv('clean.csv')

In [50]:
filtered_df = df[df['Tobacco'] == 'Tobacco User/Non-Tobacco User']

# create a copy of the filtered dataframe
new_df = filtered_df.copy()
new_df2 = filtered_df.copy()
# change the value in the Tobacco column to 'Tobacco User' for the first half of the rows
new_df.loc[new_df.index[:len(filtered_df)], 'Tobacco'] = 'Tobacco User'

# change the value in the Tobacco column to 'Non-Tobacco User' for the second half of the rows
new_df2.loc[new_df.index[:len(filtered_df)], 'Tobacco'] = 'Non-Tobacco User'

# replace the tobacco_rate column value with the IndividualRate value for the 'Non-Tobacco User' rows
new_df2.loc[new_df['Tobacco'] == 'Non-Tobacco User', 'tobacco_rate'] = new_df2.loc[new_df['Tobacco'] == 'Non-Tobacco User', 'IndividualRate']

# concatenate the original dataframe with the modified filtered dataframe
ff = pd.concat([new_df,new_df2])
final_df = pd.concat([df[df['Tobacco'] != 'Tobacco User/Non-Tobacco User'], ff])

# reset the index
final_df = final_df.reset_index(drop=True)

final_df

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00
...,...,...,...,...,...,...,...,...,...,...
17584562,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,61,702.16,0.0,702.16
17584563,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,62,717.91,0.0,717.91
17584564,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,63,737.65,0.0,737.65
17584565,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,64,749.64,0.0,749.64
17584566,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,100,749.64,0.0,749.64

In [52]:

final_df.to_csv('clean_2.csv')

In [51]:
final_df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00